/* Add here all your css styles (customizations) */

.centered-tabs>li {
    float: none;
    display: inline-block;
    *display:inline; /*ie7-fix*/
    zoom: 1; /* hasLayout ie7 trigger */
    font-size: 18px;
}

.centered-tabs {
    text-align: center;
}

.fancy {
    font-family: 'Alex Brush', cursive;
    font-size: 25px;
}

.faded-line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 10px 0;
}

.filter-box {
    border: solid 1px black;
    width: 10px;
    height: 10px;
}
.filter-white {
    background-color: white;
}
.filter-ivory {
    background-color: ivory;
}
.filter-tan {
    background-color: tan;
}
.filter-yellow {
    background-color: yellow;
}
.filter-orange {
    background-color: orange;
}
.filter-pink {
    background-color: pink;
}
.filter-red {
    background-color: red;
}
.filter-purple {
    background-color: purple;
}
.filter-blue {
    background-color: blue;
}
.filter-green {
    background-color: green;
}
.filter-brown {
    background-color: brown;
}
.filter-gray {
    background-color: darkgray;
}
.filter-black {
    background-color: black;
}
.filter-silver {
    background-color: silver;
}
.filter-gold {
    background-color: gold;
}

.filter-text-color {
    color: black;
    font-size: 16px;
}

.accordion-sub-header {
    margin-left: 15px;
}


/* Uploading Images */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}